@import "tailwindcss";

@layer components {
  .link-primary {
    color: var(--color-blue-600);
    cursor: pointer;
    &:hover {
      @media (hover: hover) {
        text-decoration: underline;
        text-decoration-color: var(--color-blue-600);
      }
    }
  }
}
