<% set_meta_tags description: "プライバシーポリシー" %>

<div class="flex flex-col gap-4 mx-auto max-w-2xl my-6">
  <div class="text-center">
    <h1 class="mb-4 font-bold"><%= title "プライバシーポリシー" %></h1>
  </div>

  <div class="flex flex-col gap-3 my-2">
    <p class="text-sm">Tidal Force + （以下、「本サービス」といいます。）におけるユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>

    <div>
      <h4 class="text-sm">第1条（ユーザーから取得する情報）</h4>
      <p class="ml-3 text-sm">本サービスでは登録およびご利用に際して以下の情報を取得し、それらを個人情報として取り扱います。</p>
      <ul class="ml-7 list-decimal list-outside text-sm">
        <li>メールアドレス</li>
        <li>外部サービスでユーザーが利用するID、その他外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報</li>
        <li>Cookie(クッキー)を用いて生成された識別情報</li>
        <li>OSが生成するID、端末の種類、端末識別子等のOSや端末に関する情報</li>
        <li>本サービスの滞在時間、入力履歴、購買履歴等の本サービスにおけるユーザーの行動履歴</li>
        <li>本サービスの起動時間、入力履歴、購買履歴等の本サービスの利用履歴</li>
      </ul>
    </div>

    <div>
      <h4 class="text-sm">第2条（ユーザーの情報を利用する目的）</h4>
      <p class="ml-3 text-sm">本サービスは、ユーザーから取得した情報を、以下の目的のために利用します。</p>
      <ul class="ml-7 list-decimal list-outside text-sm">
        <li>本サービスに関する登録の受付、ユーザーの本人確認、認証のため</li>
        <li>ユーザーの本サービスの利用履歴を管理するため</li>
        <li>本サービスにおけるユーザーの行動履歴を分析し、本サービスの維持改善に役立てるため</li>
        <li>本サービスに関するご案内をするため</li>
        <li>ユーザーからのお問い合わせに対応するため</li>
        <li>利用規約や法令に違反する行為に対応するため</li>
        <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
        <li>利用規約の変更等を通知するため</li>
        <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
      </ul>
    </div>

    <div>
      <h4 class="text-sm">第3条（利用目的の変更）</h4>
      <ul class="ml-7 list-decimal list-outside text-sm">
        <li>本サービスは、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。</li>
        <li>利用目的の変更を行った場合には、変更後の目的について、本サービス所定の方法により、ユーザーに通知し、または本ウェブサイト上に公表するものとします。</li>
      </ul>
    </div>

    <div>
      <h4 class="text-sm">第4条（個人情報の第三者提供）</h4>
      <p class="ml-3 text-sm">本サービスは、次に掲げる場合を除いて、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。</p>
      <ul class="ml-7 list-decimal list-outside text-sm">
        <li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
        <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
        <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
        <li>予め次の事項を告知あるいは公表し、かつ本サービスが個人情報保護委員会に届出をしたとき</li>
      </ul>
      <p class="ml-3 text-sm">前項の定めにかかわらず、次に掲げる場合には、当該情報の提供先は第三者に該当しないものとします。</p>
      <ul class="ml-7 list-decimal list-outside text-sm">
        <li>本サービスが利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
        <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
        <li>個人情報を特定の者との間で共同して利用する場合</li>
      </ul>
    </div>

    <div>
      <h4 class="text-sm">第5条（プライバシーポリシーの変更）</h4>
      <ul class="ml-7 list-decimal list-outside text-sm">
        <li>本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。</li>
        <li>本サービスが別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</li>
      </ul>
    </div>

    <p class="text-sm">以上</p>
  </div>

  <div class="text-center">
    <%= link_to "ホーム画面に戻る", each_home_index_path, class: "link-primary" %>
  </div>
</div>
