<% if calc_condition_form.errors.any? %>
  <div id="error_explanation" class="mb-8 p-4 border border-red-400 bg-red-100 rounded-md">
    <h2>表示更新できませんでした。</h2>

    <ul>
      <% calc_condition_form.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
