<nav class="flex flex-col mx-auto items-center justify-center text-center w-76 pb-1" aria-label="Pagination">
  <div class="text-center" data-controller="year-month-display" data-year-month-display-target="display"></div>
  <div class="isolate inline-flex rounded-md shadow-xs" data-controller="pagination" data-pagination-target="pagination"></div>
</nav>
