<% turbo_page_requires_reload %>
<div role="dialog" tabindex="-1" class="fixed inset-0 z-30 flex items-center justify-center w-full h-screen p-2">
  <div class="fixed inset-0 block w-full h-screen cursor-default bg-gray-900/30"></div>
  <div class="relative z-20 w-full max-w-xs max-h-screen overflow-y-auto bg-white shadow-lg rounded-md p-5">
    <h2 class="mb-5 text-center text-2xl"><%= t(".sign_in") %></h2>
    <p class="mb-5 text-center text-xs">
      <%= link_to "利用規約とプライバシーポリシー", new_home_path(anchor: "terms_and_privacy"), class: "link-primary" %>
      をご確認ください
    </p>
    <div class="mb-8 text-center">
      <span><%= render "/devise/shared/link_omniauthable" %></span>
    </div>
    <div class="text-center">
      <%= link_to t("devise.shared.links.back"), :back, class: "link-primary" %>
    </div>
  </div>
</div>
