<section class="mb-4">
  <h2 class="invisible text-xs">サービスの概要</h2>
  <p class="sm:text-center">
    「月・太陽による起潮力（潮汐力）」と「木星との距離」を計算します。
    <%= link_to "補足説明", about_index_path, class: "link-primary" %><br>
    ログインすると、あなたの測定結果をメモできます。
  </p>
</section>
